#nav li {
  float: inline-start;
}
#nav {
  width: fit-content;
  height: 100vh;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #162252;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #ccc;
  border-right: 1px solid #ccc;
}

#nav a:hover {
  background-color: #5993e5;
}
